.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 24px;
  border-top: 1px solid rgb(204, 204, 204);
  line-height: 12px;
  font-size: 10px;
  color: $dark-text;
  overflow: hidden;
  row-gap: 8px;
}

.footer__element-logo {
  display: flex;
}

.footer__logo {
  width: 50px;
  height: 16px;
  margin-left: 5px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
}

.footer__link {
  color: $dark-text;
  text-decoration: none;
}

.footer__link-wrapper {
  display: flex;
  // margin-left: 8px;
}

.footer__link::after {
  content: "|";
  position: relative;
  display: inline;
  margin-left: 8px;
  color: rgba(25, 24, 35, 0.15);
}

.footer__link_last::after {
  display: none;
}

@media (max-width: 1040px) {
  .footer__link::after {
    display: none;
  }
}
