.login {
  opacity: 0;
  transition: opacity 0.8s;
}

.login__email-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 32px;

  span {
    padding-left: 8px;
    font-weight: 600;
    color: $red-color;
  }
}

.login__input {
  margin-top: 8px;
}

.login__next-button {
  margin-top: 32px;
}

.login__sign-up-button {
  margin-top: 16px;
}

.login__error-msg {
  margin-top: 8px;
}

@media (max-width: 1040px) {
  .login {
    margin: 0 auto;
    width: 60%;
  }
}

@media (max-width: 600px) {
  .login {
    margin: 0 auto;
    width: 100%;
  }
  .login__next-button {
    min-height: 48px;
  }
  .login__input {
    min-height: 48px;
  }
  .login__sign-up-button {
    min-height: 48px;
  }
}

.opacity-1 {
  opacity: 1;
}
