.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f6f7;
  overflow-y: auto;
  flex: 1 0 auto;
  justify-content: center;
}

.main-wrapper {
  padding: 64px;
  background-color: #fff;
  border: 1px solid rgba(25, 24, 35, 0.1490196078);
  border-radius: 4px;
  width: 554px;
}

.main-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  text-align: left;
}

.main-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 32px;
}
