.password {
  opacity: 0;
  transition: opacity 0.8s;
}

.password__reset-link {
  display: block;
  margin-top: 20px;
  color: rgb(51, 102, 187);
}

.password__descr-wrapper {
  margin-top: 32px;
  display: flex;
  align-items: center;
  column-gap: 10px;

  button {
    width: 20px;
    height: 20px;
  }
}

.password__descr-arrow {
  width: 20px;
  height: 20px;
}

.password__descr {
  margin-top: 0;
}

.opacity-1 {
  opacity: 1;
}
